<header class="hero">
  <div class="contenido-hero">
    <h1>Bienvenidos zona de venta de Mecológico</h1>
    <p>Desde aquí, podrás gestionar tus pedidos, consultar los catálogos y ver tus pedidos. Empieza ya</p>


  </div>
</header>

<section class="destacados">
  <h2>Productos ecológicos destacados</h2>

  <div class="grid-productos">
    <img src="assets/img/ciruelas.PNG" alt="Ciruelas ecológicas">
    <img src="assets/img/tomate.PNG" alt="Tomates naturales">
    <img src="assets/img/uvas.PNG" alt="Uvas orgánicas">
  </div>

  <div class="texto-destacado mt-4">
    <p>
      Sueño con un mundo más habitable en el que se respire aire puro, sin humos que nos ahoguen.
      Un mundo en el que los animales y plantas no sientan nuestra amenaza continúa. Un mundo en el que la Educación Ambiental sea cosa de todos.
      Un mundo lleno de fuentes de agua limpia, en el que el sol, el viento y el mar nos den la energía que necesitamos.
      Un mundo de océanos azules, sin mareas negras. Un mundo que favorezca la vida y en el que el hambre sea historia.
      Sueño con preservar lo mejor del mundo que aún tenemos… ¿y tú con qué sueñas?
    </p>
  </div>
</section>


<section class="beneficios">
  <h2>¿Por qué elegirnos?</h2>
  <ul>
    <li>Productos de cercanía y temporada</li>
    <li>Comercio justo y responsable</li>
    <li>Plataforma ágil y fácil de usar</li>
  </ul>

  <div class="grid-productos mt-4">
    <img src="assets/img/comerciojusto.PNG" alt="Comercio justo">
    <img src="assets/img/certificacionEcologica.PNG" alt="Certificación ecológica">
    <img src="assets/img/certificadoEcologico2.PNG" alt="Certificado ecológico">
  </div>
</section>