.iconos-caracteristicas i {
  font-size: 1.2rem;
  color: #28a745;
  background-color: #e6f4ea;
  border-radius: 6px;
  padding: 0.3rem 0.4rem;
  transition: transform 0.2s ease;
}
.iconos-caracteristicas i:hover {
  transform: scale(1.2);
  cursor: default;
}
.toggle-btn {
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0;
}

.toggle-btn:hover {
  transform: scale(1.2);
  transition: 0.2s;
}
.icono-naranja {
  color: orange !important;
}
